vendor/
composer.phar

.vscode/
.idea/
*.sublime-*
.DS_Store
Thumbs.db

.sonar/
.scannerwork/
.sonarqube/

.phpunit.result.cache
.phpunit.cache/
.php-cs-fixer.cache
phpstan.cache/

/coverage/
clover.xml
