parameters:
    bootstrapFiles:
        - conf/conf.php
        - conf/confDefine.php
    paths:
        - config
        - src
        - tests
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    phpVersion: 80013
