parameters:
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        -
            message: "#expects Countable\\|iterable, array\\|bool given#"
            paths:
                - tests/UnitTestString.php
                - tests/UnitTestRule.php
                - tests/UnitTestInteger.php
        -
            message: "#Call to an undefined method object::addChild#"
            path: src/Arrays.php
        -
            message: "#Cannot access offset 'textoError' on array\\|bool#"
            path: tests/UnitTestRule.php
    bootstrapFiles:
        - vendor/autoload.php
        - src/resource/ConstantPhpStan.php
    paths:
        - conf
        - src
        - tests
    excludePaths:
        analyseAndScan:
           - src/DependencyInjection/StrfTime.php
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    phpVersion: 80108
