<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap = "vendor/autoload.php"
    backupGlobals               = "false"
    backupStaticAttributes      = "false"
    colors                      = "true"
    convertErrorsToExceptions   = "true"
    convertNoticesToExceptions  = "true"
    convertWarningsToExceptions = "true"
    processIsolation            = "false"
    stopOnFailure               = "false"
    stderr                      = "true">
    <php>
        <env name="PHP_UNIT_DEFINE" value="true"/>
    </php>
    <testsuites>
        <testsuite name="Tests">
            <directory suffix=".php">./tests/</directory>
        </testsuite>
    </testsuites>

    <coverage includeUncoveredFiles="true" processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
            <directory suffix=".php">tests</directory>
        </include>
        <exclude>
            <directory>src/CI.php</directory>
        </exclude>
        <report>
            <clover outputFile="clover.xml"/>
        </report>
    </coverage>
</phpunit>
