on: [push]
name: "PHPStan - CI"

jobs:
  phpstan:
    name: Run PHPStan
    runs-on: ubuntu-latest
    steps:
      # Set up PHP
      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.4"
          extensions: mbstring, json

      # Checkout project
      - name: Checkout project
        uses: actions/checkout@v4

      # Install Composer dependencies
      - name: Install Composer dependencies
        run: composer install --prefer-dist --no-progress --no-suggest

      # Run PHPStan
      - name: Run PHPStan
        run: vendor/bin/phpstan analyse conf src --level=10 --configuration=phpstan.neon --autoload-file=src/resource/ConstantPhpStan.php --memory-limit=512M
