name: "PHPStan - CI"

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

  steps:
    - uses: actions/checkout@v2
    - uses: php-actions/composer@v6
    - uses: php-actions/phpstan@v3
      with:
        configuration: phpstan.neon
